
body {
  font-family: "Nunito", sans-serif;
    height: 150px;
    width: 150px;
    outline: none;
    display: inline-block;
}

#mainText {
  text-align: center;
}
#changeColor {
  color: white;
}

.highlight {
  color = red;
}
